<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- 考虑到开发模式下多窗口调试的便捷性 
      页面的title暂时注释掉，
      改为窗口创建时自定义，
      不在此处统一定义-->
    <!-- <title>NN语音</title> -->
  </head>
  <body>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
    <script>
      require('module').globalPaths.push(
        '<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, "\\\\") %>'
      )
    </script>
    <% } %>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
    <script>
      if (process.env.NODE_ENV !== 'development')
        window.__static = require('path')
          .join(__dirname, '/static')
          .replace(/\\/g, '\\\\')
    </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
